.lst-biography-section {
    .lst-content-section;

    .lst-picture,
    .lst-content {
        display: inline-block;
        vertical-align: top;
        width: 49%;
    }

    .lst-picture {
        border: 10px solid #bac4ca;
        max-width: 550px; 
        margin-right: 45px;
    }

    .lst-content p {
        line-height: 30px;
    }
}

.lst-consulting-section {
    .lst-content-section;
    text-align: center;
}

.lst-prices-section {
    .lst-content-section;
    background: url(../images/halter-white-bg.jpg);
    text-align: center;
}

.lst-faq-section {
    .lst-content-section;
    text-align: center;
}