.lst-content-section {
    padding: 70px 20px;

    &::after {
        background: #022c44;
        content: '';
        display: block;
        height: 1px;
        margin: 0 auto;
        max-width: 620px;
        width: 80%;
    }
}